@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&family=Open+Sans&display=swap');

:root {
    --primary-color: #00539C;
    --secondary-color: #FBF8BE;
    --accent1-color: #CCF381 ; 
    --accent2-color: #4831D4 ;

    --heading-font: 'Fontdiner Swanky', serif;
    --paragraph-font: 'Open Sans', sans-serif;

    --nav-background-color: #FBF8BE;
    --nav-link-color: #1E2761;
    --nav-hover-link-color: #4831D4;
    --nav-hover-background-color: #CCF381; 
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: var(--paragraph-font);
    padding: 20px;   
    max-width: 840px; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

div.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;    
    top: 5%;
    background-color : rgb(0, 0, 0, 0.5);
    width: 100%;     
    color: #FBF8BE;
    text-align: center;
}

.hero article {
    position : absolute;
    top: 20%;
    left: 8%;
    width : 80%;
    background-color : rgb(0, 83, 156, 0.4);
    padding: 1rem;    
}

.hero article p {
    color: var(--secondary-color);
    text-align : left;
}

.hero article img {
    float: right;
    width: 200px;
    height: 150px;
}

header {
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

header img {
    margin: 1rem auto;
    display: flex;
    justify-content: space-around;
    width: 200px;
    height: auto;
}


nav a {
    text-decoration: none;
    font-family: var(--paragraph-font); 
    color: var(--nav-link-color); 
    
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

header nav {    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--nav-background-color);
}

.history {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}

.history h2 {
    grid-column: 1/4;
    display: flex;
    justify-content: center;
}

.history img {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    padding: 1rem;
}

.history p {
    text-align:justify;
}

section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.adventure img {
    width: 140px;
    height: 130px;   
}

.adventure h2 {
    grid-column: 1/6;
    display: flex;
    justify-content: center;
}

figure {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

figcaption {
    text-align: center;
}

footer {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 2.5rem;
    background-color: #FBF8BE;
}

footer p {
    grid-column: 2;
    text-align: center;
}

footer nav {
    grid-column: 3;
    display: flex;
    justify-content: space-around;     
}