@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');

:root {
    --primary-color: #00539C;
    --secondary-color: #FBF8BE;
    --accent1-color: #CCF381 ; 
    --accent2-color: #4831D4 ;

    --heading-font: Merriweather, Georgia, serif;
    --paragraph-font: Roboto, Arial, sans-serif;

    --nav-background-color: #FBF8BE;
    --nav-link-color: #1E2761;
    --nav-hover-link-color: #4831D4;
    --nav-hover-background-color: #CCF381; 
}

* {
    margin: 0 auto;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: var(--paragraph-font);
    padding: 20px;   
    max-width: 840px; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

div.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;    
    top: 5%;
    background-color : rgb(0, 0, 0, 0.5);
    width: 100%;     
    color: #FBF8BE;
    text-align: center;
}

.hero article {
    position : absolute;
    top: 20%;
    left: 8%;
    width : 80%;
    background-color : rgb(0, 83, 156, 0.4);
    padding: 1rem;    
}

.hero article p {
    color: var(--secondary-color);
    text-align : left;
}

.hero article img {
    float: right;
    width: 200px;
    height: 150px;
}

header {
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

header img {
    margin: 1rem auto;
    display: flex;
    justify-content: space-around;
    width: 200px;
    height: auto;
}


nav a {
    text-decoration: none;
    font-family: var(--paragraph-font); 
    color: var(--nav-link-color); 
    
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

header nav {    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--nav-background-color);
    width: 100%;
}

.history {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}

.history h2 {
    grid-column: 1/4;
    display: flex;
    justify-content: center;
}

.history img {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    padding: 1rem;
}

.history p {
    text-align:justify;
}

section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.adventure img {
    width: 140px;
    height: 130px;   
}

.adventure h2 {
    grid-column: 1/6;
    display: flex;
    justify-content: center;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

figcaption {
    text-align: center;
}

footer {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 2.5rem;
    background-color: #FBF8BE;
}

footer p {
    grid-column: 2;
    text-align: center;
}

footer nav {
    grid-column: 3;
    display: flex;
    justify-content: space-around;     
}

/*Contact Us*/

div.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: auto;
    height: 400px;    
    border-top: 3px solid var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
}

.contact h1 {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

iframe {
    width: 350px;
    height: 250px;
    grid-column: 2;
    grid-row: 2;
    border:0;
}

.contact table {
    grid-column: 1;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-spacing: 30px;
}

.contact tr {
    height:25px
}

/* Employee Section*/

div.employee {
    width: 100%;
    height: 250px;
    margin-top: 1rem;
    padding-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color : rgba(0, 140, 255, 0.2);  
}

div.employee img {
    width: 250px;
    height: 200px; 
    box-shadow: 0 0 30px gray;   
}

div.employee figure, div.employee figcaption {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: large;
    font-weight: bold;
    color: var(--primary-color);
}

/* Send A Message Form */
form {
    width: auto;
    margin: 1rem auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

label {
    font-size: small;
    font-weight: 700;   
}

.form-item {
    padding: 1.5rem;
    width: auto;
    text-align: center;
}

.form-item label {
    text-align: left;
    padding-left: 1rem;
    padding-right: .5rem;   
     
}

.form-item input {
    height: 1.5rem;
    padding: .5rem;
    border-style: none;
    border-radius: .5rem;
}

.message {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message label {
    padding-right: 1rem;
    margin: .5rem;
}

.subscribe {
    margin: 1rem;
    text-align: center;
}

button {
    margin: .5rem auto;
    background-color: black;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1rem;
    color: #fff;
    width: 15%;
    cursor: pointer;
}

button:hover {
    background-color: navy;
}

/* Trips CSS*/
.container {
    margin: 2rem auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 5px;
}

.cta-button {
    text-align: center;
    margin-bottom: 2rem;
}

.trip {
    display: flex;
    margin-bottom: 2rem;
}

.trip-image {
    flex: 1;
    margin-right: 1rem;
}

.trip img {    
    width: 250px;
    height: 200px;
    box-shadow: 0 0 30px gray;  
}

.trip-details {
    flex: 2;
}

.trip-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
}

.trip-table th,
.trip-table td {
    border: 1px solid #ddd;
    padding: 1rem;
    text-align: left;
}

/* Home Page*/

.full-width {
    display: grid;
    grid-template-columns: repeat(5, 168px);
    grid-template-rows: repeat(5, 112px);
}

.full-width img{
    display: block;
    width: 100%;
    height: auto;
    grid-column: 1/6;
    box-shadow: 0 0 30px gray;
}

.full-width h1 {
    grid-row: 2/5;
    grid-column: 1/6;
    background-color : rgb(0, 0, 0, 0.5);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 2rem 0;
}

.grid-item {
    text-align: center;
}

.grid-item img {
    width: 250px;
    height: 150px;
    box-shadow: 0 0 30px gray;
    margin: 1rem 0;
}

.call-to-action {
    text-align: center;
    margin: 2rem 0;
}